
<div class="main-container">
    <div class="page-title">
      <h5><%= @programme.name %></h5>
    </div>

    <div class="grid-container-cards">
        <% @project_programme.each_with_index do |project, index| %>
        <div class="project-card">
                <%= link_to (cl_image_tag  project.project.project_image.key, overflow: :hidden), project_path(project.project) %>

            <div class="project-card-text">
                <h6><%= project.project.category %></h6>
                <h5><%= link_to project.project.title, project_path(project.project) %></h5>
            </div>
        </div>
        <% end %>
    </div>
    <div class="basic-btn">
        <%= link_to 'View all Projects', projects_path %>
    </div>
</div>
