<h1>this is the programmes show page</h1>

<p>Programme: <%= @programme.name %></p>
<p>Skill Level: <%= @programme.skill %></p>

<% @project_programme.each do |pro|%>
  <%= pro.project.title %><br>
<% end %>

<%= link_to 'View all Projects', projects_path %>

<%= link_to 'Edit this programme', edit_user_programme_path(@programme) %>
