
<div class="form-card">
    <%= simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
        <div class="page-title">
            <h5>Forgot your password?</h5>
        </div>
        <div class="form-inputs">
            <%= f.error_notification %>

            <%= f.input :email,
                        required: true,
                        autofocus: true,
                        input_html: { autocomplete: "email" } %>
        </div>
        <div class="form-actions">
            <div class="form-button">
                <%= f.button :submit, "Send Reset Instructions" %>
            </div>
            <p> or<%= render "devise/shared/links" %></p>
        </div>
    <% end %>
</div>
