<div class="text-container">
    <div class="text-slide">
        <h5>Aspiring software engineer looking for a job in Tokyo, Japan</h5>
        <p class="slide-link"><%= link_to "Read more", about_path %></p>
    </div>
    <div class="text-slide">
        <h5>Currently working on a Portfolio Project</h5>
        <p class="slide-link"><%= link_to "View Projects", projects_path %></p>
    </div>
    <div class="text-slide">
        <h5>My favorite project has been </h5>
        <p class="slide-link"><%= link_to "Project-name", "#" %></p>
    </div>
</div>
<div class="main-container">
    <% if @preview_projects.empty? %>
        <div class="page-title">
            <h5>Currently working on projects...</h5>
        </div>
    <% else %>
        <div class="page-title">
            <h5>LATEST PROJECTS</h5>
        </div>


        <div class="grid-container-index">
            <% @preview_projects.each_with_index do |preview, index| %>
                <div class="project-card" id="pro<%= index %>">
                    <% if preview.project_image.attached? %>
                        <%= link_to (cl_image_tag  preview.project_image.key, overflow: :hidden), project_path(preview) %>
                    <% end %>
                    <div class="project-card-text">
                        <h5><%= link_to preview.title, project_path(preview)%></h5>
                        <div class="mySkills-btn" id="homeSkills">
                            <% preview.programmes.each do |programme| %>
                                <%= link_to programme.name, programme_path(programme) %>
                            <% end %>
                        </div>
                    </div>
                </div>
                <% if (@preview_projects[index + 1].nil?) && (index + 1 <= 2) %>
                    <div class="project-card" id="pro<%= index + 1 %>">
                        <div class="project-card-text">
                            <h5>In Progress...</h5>
                        </div>
                    </div>
                <% end %>
            <% end %>
        </div>
        <% if Project.count > 3 %>
            <div class="basic-btn">
                <h5><%= link_to "view portfolio", projects_path %></h5>
            </div>
        <% else %>
            <div class="basic-btn">
                <h5><%= link_to "about me", about_path %></h5>
            </div>
        <% end %>
    <% end %>
</div>

<script>
    var slideIndex = 0;
    carousel();

    function carousel() {
      var i;
      var x = document.getElementsByClassName("text-slide");
      for (i = 0; i < x.length; i++) {
        x[i].style.display = "none";
      }
      slideIndex++;
      if (slideIndex > x.length) {slideIndex = 1}
      x[slideIndex-1].style.display = "block";
      setTimeout(carousel, 2000); // Change image every 2 seconds
    }
</script>
