<div class="home-container">
    <div class="page-title">
        <h5>ALL PROJECTS</h5>
    </div>

    <% if user_signed_in? %>
      <%= link_to 'Account', users_path  %>

    <% end %>
    <%= link_to 'about', about_path  %>
    <%= link_to 'Return to Home', root_path  %>

    <div class="grid-containerrr">

      <% @projects.each_with_index do |project, index| %>

          <div class="project-card" id="pro<%= index %>">
              <%= project.title %>
              <%= index %>
          </div>
        <% end %>
      </div>

    </div>
</div>
