
    <div class="page-title">
        <h5>ALL PROJECTS</h5>
    </div>

    <div class="mySkills-btn" id="viewBy-skills">
      <p>View by Skill: </p>
      <% @programmes.each do |programme| %>
          <%= link_to programme.name, programme_path(programme) %>
      <% end %>
  </div>

<div class="home-container">
    <div class="grid-container-index">

      <% @projects.each_with_index do |project, index| %>

          <div class="project-card" id="pro<%= index %>">

                  <%= link_to (cl_image_tag  project.project_image.key, overflow: :hidden), project_path(project) %>
              <div class="project-card-text">
              <h5><%= link_to project.title, project_path(project) %></h5>
              <div class="mySkills-btn">
                 <% project.programmes.each do |programme| %>
                      <%= link_to programme.name, programme_path(programme) %>
                  <% end %>
              </div>

            </div>

          </div>





        <% end %>

      </div>

    </div>

</div>

