<main class="main-container" id="portfolio">
  <%= turbo_frame_tag "portfolio" do %>
    <% if @projects.empty? %>
      <header class="page-header">
        <div class="page-header__main">
          <h3 class="page-header__title">I am currently working on projects...</h3>
        </div>
      </header>
    <% else %>
      <header class="page-header">
        <div class="page-header__main">
          <h3 class="page-header__title">Some of my projects</h3>
        </div>
      </header>
      <div class="cards-grid" id="projects">
        <% @projects.each do |project| %>
          <%= link_to project_path(project), target: "_top", class: "card" do %>
            <div class="card__thumbnail">
              <% if project.project_image.attached? %>
                <%= cl_image_tag project.project_image.key, overflow: :hidden %>
              <% end %>
            </div>
            <div class="card__content">
              <header class="card__header">
                <h4 class="card__title truncate"><%= project.title %></h4>
                <%= content_tag(:p, truncate(project.description, length: 100), class: "t-caption truncate truncate--two") if project.description.present? %>
              </header>
              <div class="card__skills">
                <% project.programmes.each do |programme| %>
                  <div class="badge"><span><%= programme.name %></span></div>
                <% end if project.programmes.present? %>
              </div>
            </div>
          <% end %>
        <% end %>
      </div>
    <% end %>
  <% end %>
</main>
