<h1><%= @project.title %></h1>
<p><%= @project.description %></p>
<p><%= @project.project_date %></p>
<p>Worked with: <%= @project.contributors %></p>
<p>Link to Project: <%= @project.link %></p>
<% @project_programme.each do |pro|%>
  <%= pro.programme.name %><br>
  <% if user_signed_in? %>
    <%= link_to "Remove this programme from Project", user_project_project_programme_path(@user, @project, pro), method: :delete, data: { confirm: "Are you sure you wish to delete your project?" }  %>
    <%= link_to "Add programmes used to this project", new_user_project_project_programme_path(@user, @project)  %>
  <% end %>
<% end %>

<%= link_to "View all Projects", projects_path  %>
<% if user_signed_in? %>
  <%= link_to "Edit this project", edit_user_project_path(@user, @project)  %>
<% end %>

