<main class="project">
  <header class="project-header">
    <div class="project-header__top">
      <%= link_to "Back to all projects", root_path(anchor: "projects"), data: { turbo: false }, class: "link link--secondary" %>
    </div>
    <% if @project.project_image.attached? %>
      <div class="project-header__image">
        <%= cl_image_tag @project_image.key, overflow: :hidden %>
      </div>
    <% end %>
    <div class="project-header__main">
      <h3 class="project-header__title"><%= @project.title %></h3>
    </div>
  </header>
  <div class="project-content">
    <div class="project-content__details">
      <div class="project-content__description">
        <p><%= @project.description %></p>
      </div>
      <div class="project-content__attributes attributes-list">
        <%= content_tag(:article, class: "attribute") do %>
          <div class="attribute__content attribute__content--horizontal badges badges--sm">
            <% @project.programmes.each do |programme| %>
              <div class="badge"><span><%= programme.name %></span></div>
            <% end %>
          </div>
        <% end if @project.programmes.present? %>
        <%= content_tag(:article, class: "attribute") do %>
          <header class="attribute__header">
            <%= inline_svg_tag "icons/calendar_month.svg", class: "icon attribute__icon" %>
          </header>
          <div class="attribute__content attribute__content--horizontal">
            <span class="t-text"><%= @project.start_date.strftime("%b %Y") %> - <%= @project.end_date.present? ? @project.end_date.strftime("%b %Y") : 'Ongoing' %></span>
          </div>
        <% end if @project.start_date.present? %>
        <%= content_tag(:article, class: "attribute") do %>
          <header class="attribute__header">
            <%= inline_svg_tag "icons/link.svg", class: "icon attribute__icon" %>
          </header>
          <div class="attribute__content attribute__content--horizontal">
            <span class="t-text"><%= link_to website_name(@project.link), @project.link, target: "_blank" %></span>
          </div>
        <% end if @project.link.present? %>
        <%= content_tag(:article, class: "attribute") do %>
          <header class="attribute__header">
            <%= inline_svg_tag "icons/work.svg", class: "icon attribute__icon" %>
          </header>
          <div class="attribute__content attribute__content--horizontal">
            <span class="t-text"><%= @project.company %></span>
          </div>
        <% end if @project.company.present? %>
      </div>
    </div>

    <%= content_tag(:div, class: "project-content__actions") do %>
      <%= link_to "Edit Project", edit_admin_project_path(@project), class: "btn btn--primary" %>
      <%= link_to "Add Skill", new_admin_project_project_programme_path(@project), class: "btn btn--primary" %>
    <% end if current_user.role_admin? %>

    <% unless @project.image_carousel? %>
      <div class="project__images">
        <% if @project_images.any? %>
          <% @project_images.each do |image| %>
            <div class="project__image" style="width:100%">
              <%= cl_image_tag image.key, overflow: :hidden %>
            </div>
          <% end %>
        <% else %>
          <p>No images available for this project.</p>
        <% end %>
      </div>
    <% end %>
  </div>
  <%= link_to "Back to all projects", root_path(anchor: "projects"), data: { turbo: false }, class: "link link--secondary" %>
</main>

