<main>
  <div class="page-content">
    <div class="form" id="devise-form">
      <div class="form__header t-align--center">
        <h2 class="form__title">Welcome my portfolio!</h2>
        <p class="form__subtitle">
          My portfolio is currently private, but if you have a login from me, just enter your info below.
          If you want access, feel free to reach out.
        </p>
      </div>
      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <div class="form__fields">
          <div class="field">
            <%= f.label :login, class: "field__label t-label" %>
            <%= f.text_field :login, autofocus: true, autocomplete: "username", class: "field__input" %>
          </div>
          <div class="field">
            <%= f.label :password, class: "field__label t-label" %>
            <%= f.password_field :password, autocomplete: "current-password", class: "field__input" %>
          </div>
        </div>
        <div class="form__actions">
          <%= f.submit "Log in", class: "btn btn--primary btn--full" %>
        </div>
      <% end %>
    </div>
  </div>
</main>
