
<div class="session-form">
    <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <div class="form-inputs">
            <div class="page-title">
                <h5>Welcome back!</h5>
            </div>


              <%= f.input :email,
                          required: false,
                          autofocus: false,
                          input_html: { class: 'form-email'} %>


              <%= f.input :password,
                          required: false,
                          input_html: { class: 'form-email'} %>

          <div class="form-actions">
              <div class="form-button">
                  <%= f.button :submit, "LOG IN" %><br>
              </div>
              <%= render "devise/shared/links" %>
          </div> </div>
        </div>
          <% end %>
      </div>
</div>




