<!DOCTYPE html>
<html>
    <head>
    <title>Kotomaira Uchida – Portfolio</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%#= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>
    <%= javascript_importmap_tags %>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Indie+Flower&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">    <%= javascript_importmap_tags %>
  </head>
  <body data-controller="modal">
    <%= turbo_frame_tag "flash" do %>
      <%= render "shared/flash" %>
    <% end %>
    <%= render "shared/navbar" %>
    <%= yield %>
  </body>
  <%= render "shared/footer" %>
</html>

<script>
  function navSlide() {
    const burger = document.querySelector(".nav__burger");
    const nav = document.querySelector(".nav__links");
    const navLinks = document.querySelectorAll(".nav__links li");

    burger.addEventListener("click", () => {
        //Toggle Nav
        nav.classList.toggle("nav--active");

        //Animate Links
        navLinks.forEach((link, index) => {
            if (link.style.animation) {
                link.style.animation = ""
            } else {
                link.style.animation = `navToggle 0.5s ease forwards ${index / 7 + 0.5}s`;
            }
        });
        //Burger Animation
        burger.classList.toggle("nav--toggled");
    });

}

navSlide();</script>
