<!DOCTYPE html>
<html>
    <head>
        <title>Kotomaira's Portfolio</title>
        <%= csrf_meta_tags %>
        <%= csp_meta_tag %>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
        <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500&display=swap" rel="stylesheet">
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&display=swap" rel="stylesheet">
</head>
  <body>

        <nav>
            <div class="nav-title">
                <% if user_signed_in? %>
                    <%= link_to 'KOTOMAIRA UCHIDA', users_path %>
                <% else %>
                    <%= link_to 'KOTOMAIRA UCHIDA', root_path %>
                <% end %>
            </div>
            <ul class="nav-links">
                <li><%= link_to "HOME", root_path %></li>
                <li><%= link_to "ABOUT", about_path %></li>
                <li><%= link_to "PORTFOLIO", projects_path %></li>
            </ul>
            <div class="burger">
                <div class="line1"></div>
                <div class="line2"></div>
                <div class="line3"></div>
            </div>
        </nav>

        <%= yield %>

  <!--       <p class="notice"><%= notice %></p>
        <p class="alert"><%= alert %></p>

 -->
    </body>
    <footer>
        <div class="footer-container">
          <%= link_to "DOWNLOAD RESUME", "/kmu_resume.pdf", target: :blank  %>

            |
            <a href="http://www.github.com/kotomyrau" class="fa fa-github" target='blank'></a>
            <a href="https://www.linkedin.com/in/kotomyra-uchida/" class="fab fa-linkedin" target='blank'></a>
            <a href="mailto:kotomairau@gmail.com" class="fas fa-envelope-square"></a>
            |

          <%= link_to "VIEW PORTFOLIO", projects_path  %>
      </div>
  </footer>
</html>

<script>
  function navSlide() {
    const burger = document.querySelector(".burger");
    const nav = document.querySelector(".nav-links");
    const navLinks = document.querySelectorAll(".nav-links li");

    burger.addEventListener("click", () => {
        //Toggle Nav
        nav.classList.toggle("nav-active");

        //Animate Links
        navLinks.forEach((link, index) => {
            if (link.style.animation) {
                link.style.animation = ""
            } else {
                link.style.animation = `navLinkFade 0.5s ease forwards ${index / 7 + 0.5}s`;
            }
        });
        //Burger Animation
        burger.classList.toggle("toggle");
    });

}

navSlide();</script>
